SqrProj/SSO/Sqr.SSO.Application/Connected Services/SsoWcfService/SsoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SsoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://itinside-176:1020/SSO/SsoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://itinside-176:1020/SSO/SsoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://itinside-176:1020/SSO/SsoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sqr.DC.EF.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISsoService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ISsoService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISsoService_ValidAndGet_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidAndGet" />
  </wsdl:message>
  <wsdl:message name="ISsoService_ValidAndGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidAndGetResponse" />
  </wsdl:message>
  <wsdl:message name="ISsoService_GetSsoSiteList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSsoSiteList" />
  </wsdl:message>
  <wsdl:message name="ISsoService_GetSsoSiteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSsoSiteListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISsoService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISsoService/GetUser" message="tns:ISsoService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISsoService/GetUserResponse" message="tns:ISsoService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidAndGet">
      <wsdl:input wsaw:Action="http://tempuri.org/ISsoService/ValidAndGet" message="tns:ISsoService_ValidAndGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISsoService/ValidAndGetResponse" message="tns:ISsoService_ValidAndGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSsoSiteList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISsoService/GetSsoSiteList" message="tns:ISsoService_GetSsoSiteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISsoService/GetSsoSiteListResponse" message="tns:ISsoService_GetSsoSiteList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISsoService" type="tns:ISsoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ISsoService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidAndGet">
      <soap:operation soapAction="http://tempuri.org/ISsoService/ValidAndGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSsoSiteList">
      <soap:operation soapAction="http://tempuri.org/ISsoService/GetSsoSiteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SsoService">
    <wsdl:port name="BasicHttpBinding_ISsoService" binding="tns:BasicHttpBinding_ISsoService">
      <soap:address location="http://itinside-176:1020/SSO/SsoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>