SqrProj/SSO_backup/Sqr.SSO.Application/Connected Services/SsoWcfService/SsoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sqr.DC.EF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sqr.DC.EF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BizCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfSsoSite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SsoSite" nillable="true" type="tns:SsoSite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSsoSite" nillable="true" type="tns:ArrayOfSsoSite" />
  <xs:complexType name="SsoSite">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SetCookieUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SsoSite" nillable="true" type="tns:SsoSite" />
</xs:schema>